body{
    background-color: #B3C99C;
}

@media only screen and (min-width: 600px) {
    main {
        display: grid;
        grid-template-columns: 8vw auto 8vw;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        tl tc tr
        cl cc cr
        bl bc br; 
    }
}

@media only screen and (max-width: 400px) {
    main {
        display: grid;
        grid-template-columns: 5vw auto 5vw;
        grid-template-rows: 10vh auto 20vh;
        grid-template-areas: 
        tl tc tr
        cl cc cr
        bl bc br; 
    }
}


main {
    display: box-sizing;
    background-color: #B3C99C;
    display: grid;
    grid-template-columns: 15vw auto 15vw;
    grid-template-rows: 10vh auto 10vh;
    grid-template-areas: 
    tl tc tr
    cl cc cr
    bl bc br; 
    color: #EDE9D5;
    font-family: 'Source Serif Pro', arial, serif;
}

h3 span{
    color:#E7AB9A;
}
h3, h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#question{
    align-items:center;
}

#question > h4{
    font-size: 1rem;
}

.quiz {
    background-color: #DF7857;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.3rem #344127;
}

#button{
    font-family: 'Source Serif Pro', arial, serif;
    background-color: #EDE9D5;
    border: none;
    display:inline;
}

#button:hover{
    cursor:pointer;
}

#resultBox{
    font-size:0.8rem;
    margin-top: 0.5rem;
}

.answer-1, .answer-2, .answer-3, .answer-0{
    font-size: 0.9rem;
}

.answer-1:hover, .answer-2:hover, .answer-3:hover, .answer-0:hover{
    cursor:pointer;
    color: #d5d1bf;
}